* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-dark: #112D4E;
    --text-color-light: #F9F7F7;
    --button-color: #3F72AF;
    --button-hover: #112D4E;
    --bg-color-footer: #112D4E;
    --bg-color-menu: rgba(219, 226, 239, 0.6);
    --bg-color-card: rgba(219, 226, 239, 0.6);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    min-height: 100vh;
    height: 100%;
    font-family: Ubuntu, sans-serif;
}

.grid-container {
    justify-self: center;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: minmax(100%, 800px);
}

h1 {
    font-size: 2.5rem;
}

h2 {}

h3 {}

input {
    accent-color: var(--button-color);
}

body>div {
    /* border: 1px solid black; */
}


/*************
HEADER
/*************/

.header {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.header img {
    width: 84px;
}


/*************
MENU
/*************/

.menu {
    display: flex;
    align-items: center;
    background-color: var(--bg-color-menu);
    border-radius: 8px;
    padding: 16px 16px;
}

.menu button,
select {
    height: 36px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 8px;
}

.menu button {
    color: var(--text-color-light);
    background-color: var(--button-color);
    border-radius: 8px;
    border: 0;
    width: 108px;
    font-weight: 700;
}

.menu button:hover {
    background-color: var(--button-hover);
    box-shadow: 5px 5px 2px var(--button-color);
}

.menu p {
    margin-left: auto;
    font-size: .8rem;
}

.menu select {
    background: 0;
    border: 1px solid black;
    border-radius: 4px;
    width: min-content;
}


/*************
BOOK CONTAINER
/*************/

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: min-content;
    gap: 16px;
    padding: 16px 0;
}

.book-card {
    position: relative;
    height: 200px;
    background-color: var(--bg-color-card);
    border-radius: 8px;
    display: grid;
    grid-template-columns: minmax(130px, 1fr) 5fr;
    grid-template-rows: 5fr 1fr;
}

.book-card-img {
    padding: 0;
    grid-row: 1 / 3;
}

.book-card-img img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.book-card-text {
    grid-row: 1;
    grid-column: 2;
    padding: 16px 0 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-card-checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: auto;
}

.book-card-add-date {
    font-size: .8rem;
    padding: 0 16px;
    align-self: center;
    opacity: 0.6;
}

.btn-removeBook {
    border: 0;
    font-size: 24px;
    /* background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/close.png"); */
    background: 0;
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0.5;
}

.btn-removeBook:hover {
    color: red;
    cursor: pointer;
}

.btn-removeBook::before {
    content: "\2715";
}


/*************
FOOTER
/*************/

.footer {
    background-color: var(--bg-color-footer);
    color: var(--text-color-light);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer a {
    display: flex;
    align-items: center;
    color: var(--text-color-light);
}


/*************
JS CLASS
/*************/

.isRead {
    /* border-right: 8px solid green;
    border-bottom: 8px solid green; */
    background-color: lightgreen;
}


/*************
MODAL - Form
/*************/

.modal {
    display: none;
    justify-content: center;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: var(--text-color-light);
    margin: 0 0;
    padding: 20px;
    box-shadow: 0px 0px 8px 8px var(--button-color);
    border-radius: 8px;
    height: min-content;
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}


/* The Close Button */

.btn-close-modal {
    position: absolute;
    top: 4px;
    right: 4px;
    border: 0;
    background: 0;
    width: 24px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
}

.btn-close-modal:hover {
    color: red;
    cursor: pointer;
}